<h3>Listing Keywords</h3>
<br>

<!--<h4><%#= link_to 'New Keyword', new_keyword_path %></h4>-->

<h5>Import a CSV File</h5>
<%= form_tag import_keywords_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Import' %>
<% end %>

<br>

<table class="table table-striped table-bordered table-hover table-sm text-center">
  <thead class="thead-inverse text-center">
  <tr>
    <th class="text-center">ID</th>
    <th class="text-center">Query</th>
    <th class="text-center">Timestamp</th>
    <th class="text-center">Options</th>
  </tr>
  </thead>
  <tbody>

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.id %></td>
        <td class="text-left"><%= keyword.query %></td>
        <td><%= keyword.updated_at %></td>
        <!--<td><%#= keyword.adword_top %></td>-->
        <!--<td><%#= keyword.adword_bottom %></td>-->
        <!--<td><%#= keyword.adword_sum %></td>-->
        <!--<td><%#= keyword.non_adwords_sum %></td>-->
        <!--<td><%#= keyword.total_links %></td>-->
        <!--<td><%#= keyword.search_total %></td>-->
        <td><%= link_to 'Show', keyword %></td>
        <!--<td><%#= link_to 'Edit', edit_keyword_path(keyword) %></td>-->
        <!--<td><%#= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
