<h3>Listing Keywords</h3>
<br>
<h5>Import a CSV File</h5>
<%= form_tag import_keywords_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Import' %>
<% end %>
<hr>
<table class="table table-striped table-bordered table-hover table-sm text-center">
  <thead class="thead-inverse text-center">
  <tr>
    <th class="text-center">ID</th>
    <th class="text-center">Query</th>
    <th class="text-center">Timestamp</th>
    <th class="text-center">Options</th>
  </tr>
  </thead>
  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.id %></td>
        <td class="text-left"><%= keyword.query %></td>
        <td><%= keyword.updated_at %></td>
        <td><%= link_to 'Show', keyword %></td>
      </tr>
    <% end %>
  </tbody>
</table>
