<h3>Listing Keywords</h3>
<br>
<fieldset>
  <% if current_user %>
      <h5>Import a CSV File</h5>
      <%= form_tag import_keywords_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag 'Import' %>
      <% end %>
  <% else %>
      Login above to importing CSV.
  <% end %>
</fieldset>
<hr>
<table id='datatable' class="table table-striped table-hover text-center">
  <thead class="text-strong">
  <tr>
    <th class="text-center">Query</th>
    <th class="text-center">Timestamp</th>
    <th class="text-center">Options</th>
  </tr>
  </thead>
  <tbody>
  <% @keywords.each do |keyword| %>
      <tr>
        <td><%= best_in_place_if current_user, keyword, :query %></td>
        <td><%= keyword.updated_at %></td>
        <td><%= button_to 'Show', keyword %>
          <% if current_user %>
              &nbsp;|&nbsp;
              <%= button_to 'Destroy', keyword, method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
